h1 {
    font-size: 18px;
}

h2 {
    font-size: 14px;
}

#host {
    padding: 0px 15px 45px 10px;
}

#hostname {
    font-size: 12px;
    color: #999999;
}

#host h1, #host h2 {
    color: #444;
    /* Use paddings instead of margins to avoid margin collapsing */
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#host .table {
    /* Use paddings instead of margins to avoid margin collapsing */
    margin-bottom: 0px;
    padding-bottom: 20px;
}

#ports {
    /* Use paddings instead of margins to avoid margin collapsing */
    margin-bottom: 0px;
    padding-bottom: 10px;
}

.panel-info, .panel-danger {
    margin: 0px;
}

#ports > li{
    background-color:#77CCD7;
    color:white;
    float:left;
    font-size:12px;
    height:48px;
    list-style-type:none;
    margin-left:5px;
    margin-right:5px;
    position:relative;
    text-shadow:none;
    width:48px;
}

#ports > li > a {
    color: white;
    position: absolute;
    width: 48px;
    text-align: center;
    top: 30%;
}
